<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="com.ssm.framework.team3.dao.ApprovalMapper" >
	<select id="findall" resultType="com.ssm.framework.team3.entity.Approval">
		SELECT * FROM T_EMPLOYEE WHERE del_flg = 0;
	</select>
	
	<select id="findApprovals" resultType="com.ssm.framework.team3.entity.Approval">
		SELECT * FROM T_ATTENDANCE WHERE del_flg = 0;
	</select>
	
</mapper>