<?xml version="1.0" encoding="UTF-8"?>
<!-- Author Chin -->

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssm.framework.team2.dao.AmInfoMapper">

	<select id="findByYear"
		resultType="com.ssm.framework.team2.entity.AmData">
		SELECT
		LEFT(ATTENDANCE_YM,4)
		AS ATTENDANCE_YEAR,
		RIGHT(ATTENDANCE_YM,2) AS ATTENDANCE_MONTH
		FROM
		M_ATTENDANCE_YM WHERE
		DEL_FLG=0;
	</select>


	<select id="findWorkingDays"
		resultType="com.ssm.framework.team2.entity.AmData">
		SELECT LEFT(CALENDAR_DATE,7) AS ATT_MONTH,
		COUNT(LEFT(CALENDAR_DATE,7)) AS DAY_COUNT
		FROM
		M_CALENDAR
		WHERE
		DEL_FLG =
		0 AND
		HOLIDAY_FLG = 0
		GROUP BY LEFT(CALENDAR_DATE,7)
	</select>


	<select id="findAmInfo"
		resultType="com.ssm.framework.team2.entity.AmData">
		SELECT LEFT(t1.CALENDAR_DATE,7) AS ATT_MONTH,
		COUNT(LEFT(t1.CALENDAR_DATE,7)) AS DAY_COUNT,
		COUNT(t2.STATUS_ID !=
		'004') AS WORKDAY_COUNT,
		COUNT(t2.STATUS_ID = '004') AS
		ABSENCEDAY_COUNT,
		SUM(t2.ABSENCE_HOURS) AS ABSENCE_HOURS,
		SUM(t2.WORKING_HOURS) AS WORKING_HOURS,
		SUM(t2.OVERTIME_HOURS) AS
		OVERTIME_HOURS
		FROM M_CALENDAR t1
		LEFT JOIN T_ATTENDANCE t2 ON
		t1.CALENDAR_DATE = t2.ATTENDANCE_DATE
		WHERE t1.DEL_FLG = 0 AND
		t1.HOLIDAY_FLG = 0
		AND EXTRACT(YEAR FROM t1.CALENDAR_DATE) =
		#{selectedYear}
		GROUP BY LEFT(t1.CALENDAR_DATE,7);
	</select>



	
</mapper>

        
        
        