<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssm.framework.team2.dao.StatusMapper">

	<select id="FindStatusName"
		resultType="com.ssm.framework.team2.entity.Status">
		SELECT * FROM M_STATUS WHERE DEL_FLG=0;
	</select>



</mapper>