<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssm.framework.team1.dao.EmployeeFormMapper">
	
	<!-- 登録用 -->
    <insert id="insertEmployeeForm">
        INSERT INTO T_EMPLOYEE (
        EMPLOYEE_ID,EMPLOYEE_NAME,PASSWORD,GENDER_ID,AGE,DEPT_ID,TELEPHONE_NUMBER,MAIL_ADDRESS,DEL_FLG,ENTRY_DATE)
        VALUES (
        #{EMPLOYEE_ID}, #{EMPLOYEE_NAME},'12345678',#{GENDER_ID}, #{AGE},#{DEPT_ID}, #{TELEPHONE_NUMBER},#{MAIL_ADDRESS},'0',#{ENTRY_DATE}
        )
    </insert>

	

</mapper>