* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 页面布局样式 */
body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

/* 信息方框样式 */
.info-box {
    border: 1px solid #ccc;
    padding: 10px;
    display: inline-block;
    margin-right: 20px;
}

/* 按钮区域样式 */
.button-area {
    display: flex;
    justify-content: flex-end; /* 右对齐按钮 */
    align-items: center;
    margin-bottom: 20px;
}

.button-group {
    display: flex;
    align-items: center;
}

.button {
    margin-left: 10px;
    padding: 5px 10px;
    background-color: transparent;
    color: #000;
    border: 1px solid #000;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    line-height: 1;
    font-size: 16px;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}

