<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>勤怠情報一覧（日別）</title>
    <link rel="stylesheet" type="text/css" href="css/attendance.css">
    <script src="/submitForm.js"></script>
</head>
<div class="button-group">
<body>
	<h1>勤怠情報一覧（日別）</h1>
	<form id="selectForm" th:object="${searchForm}">
		<tr>
			<th>社員ID</th>
			<td></td>
			<th>氏名</th>
			<td></td>
			<th>所属部門</th>
			<td></td>
		</tr>
		<table>
			<thead>

				<tr>
					<th colspan="6"></th>
				</tr>
				<tr>
					<th>日付</th>
					<td colspan="2"><input type="date" id="date"
						th:field="*{attendanceDate}"></td>
					<th>状態</th>
					<td class="input-cell"><select name="statusId"
						th:field="*{statusId}">
							<option value="000">選択してください</option>
							<option th:each="status : ${statusList}"
								th:value="${status.statusId}" th:text="${status.statusName}"
								th:selected="${status.statusId == '000'}"></option>
					</select></td>
					
						<button class="button" type="submit"
							onclick="submitForm('selectForm','search','post')">検索</button>
						<button class="button" type="submit"
							onclick="submitForm('selectForm','add')">新規作成</button>
						<button class="button">戻る</button>
					</div>
				</tr>
				<tr>
					<th colspan="8"></th>
				</tr>
				<tr>
					<th>日付</th>
					<th>出勤時間</th>
					<th>退勤時間</th>
					<th>休憩時間</th>
					<th>残業時間</th>
					<th>実働時間</th>
					<th>状態</th>
					<th>作業内容</th>
					<th>修正</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="attendance : ${attendanceList}"
					th:object="${attendance}">
					<td th:text="*{attendanceDate}"></td>
					<td th:text="*{startTime}"></td>
					<td th:text="*{endTime}"></td>
					<td th:text="*{restHours}"></td>
					<td th:text="*{overtimeHours}"></td>
					<td th:text="*{workingHours}"></td>
					<td th:text="*{statusName}"></td>
					<td th:text="*{remarks}"></td>
					<td><a th:href="@{/add/{date}/update(date=*{attendanceDate})}"
						class="btn">修正</a></td>
				</tr>
			</tbody>
		</table>

	</form>
</body>
</html>