<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<!-- Author Chin -->

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>勤怠情報一覧(月別）</title>
<link rel="stylesheet" type="text/css" href="css/attendance_month.css">
</head>

<body>
	<header>
		<h1>勤怠情報一覧(月別）</h1>
		<a href="/login"><button id="logoutButton">ログアウト</button></a>
	</header>
	<main>
		<section class="employee-info">
			<div>
				<label for="employeeId">社員ID:</label> <input type="text"
					id="employeeId" name="employeeId" maxlength="10" required>
			</div>
			<div>
				<label for="employeeName">氏名:</label> <input type="text"
					id="employeeName" name="employeeName" maxlength="100" required>
			</div>
			<div>
				<label for="department">所属部門:</label> <input type="text"
					id="department" name="department" maxlength="10" required>
			</div>
		</section>
		<section class="year-select">
			<label for="year">年度:</label> <select name="selectedYear"
				onchange="setActionAndSubmitForm('attMForm', '/month/', this.value)">
				<option th:each="year : ${yearList}" th:value="${year}"
					th:text="${year}" th:selected="${year == outputYear}"></option>
			</select>
		</section>
		<section class="month-list">
			<table>
				<thead>
					<tr>
						<th>月</th>
						<th>営業日数</th>
						<th>出勤日数</th>
						<th>欠勤日数</th>
						<th>実働時間</th>
						<th>残業時間</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="amData : ${attendanceMonths}" th:object="${amData}">
						<td><a th:href="@{/attendance_day}" th:text="*{attMonth}">
						</a></td>
						<td th:text="${amData.dayCount}"></td>
						<td th:text="${amData.workdayCount}"></td>
						<td th:text="${amData.absencedayCount}"></td>
						<td th:text="${amData.workingHours}"></td>
						<td th:text="${amData.overtimeHours}"></td>
					</tr>
				</tbody>
			</table>
		</section>
	</main>
</body>

</html>