<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>勤怠情報一覧（日別）</title>
    <link rel="stylesheet" type="text/css" href="css/attendance_day.css">
    <script src="/submitForm.js"></script>
</head>
<body>
    <h1>勤怠情報一覧（日別）</h1>
    <form id="selectForm" th:action="@{/refresh}" th:object="${searchForm}" method="post">
        <div class="vertical-column">
            <div class="vertical-item">
                <span>社員ID:123456</span>
                <span th:text="${employeeId}"></span>
            </div>
            <div class="vertical-item">
                <span>氏名:更新 太郎</span>
                <span th:text="${employeeName}"></span>
            </div>
            <div class="vertical-item">
                <span>所属部門:開発部</span>
                <span th:text="${department}"></span>
            </div>
        </div>
        <div class="vertical-column">
            <div class="vertical-item">
                <span>日付:</span>
                <input type="date" id="date" th:field="*{attendanceDate}">
            </div>
            <div class="vertical-item">
                <span>状態:</span>
                <select name="statusId" th:field="*{statusId}">
                    <option value="0">選択してください</option>
                    <option th:each="status : ${statusList}"
                            th:value="${status.statusId}" th:text="${status.statusName}"
                            th:selected="${status.statusId == '0'}"></option>
                </select>
            </div>
        </div>
        <div class="vertical-column">
            <button class="button" type="submit" onclick="submitForm('selectForm','search','post')">検索</button>
            <button class="button" type="submit" onclick="submitForm('selectForm','refresh')">新規作成</button>
            <button class="button">戻る</button>
        </div>
        <table>
            <thead>
            <tr>
                <th>日付</th>
                <th>出勤時間</th>
                <th>退勤時間</th>
                <th>休憩時間</th>
                <th>残業時間</th>
                <th>実働時間</th>
                <th>状態</th>
                <th>作業内容</th>
                <th>修正</th>
            </tr>
            </thead>
            <tbody>
                <tr th:each="attendance : ${attendanceList}" th:object="${attendance}">
                    <td th:text="*{attendanceDate}"></td>
                    <td th:text="*{startTime}"></td>
                    <td th:text="*{endTime}"></td>
                    <td th:text="*{restHours}"></td>
                    <td th:text="*{overtimeHours}"></td>
                    <td th:text="*{workingHours}"></td>
                    <td th:text="*{statusName}"></td>
                    <td th:text="*{remarks}"></td>
                    <td><a th:href="@{/add/{date}/update(date=*{attendanceDate})}" class="btn">修正</a></td>
                </tr>
            </tbody>
        </table>
    </form>
</body>
</html>
