<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
    <title th:text="${employeeForm.IsNewEntry} ? '登録画面' : '修正画面'"></title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/employeeForm.css}">
</head>

<body>
	<form action="/employee/submit" th:object="${employeeForm}" method="post">
		<div class="mes">
			<table class="tablebox">
				<tr>
					<td width=200px><label for="EMPLOYEE_ID">社員ID</label></td>
					<td>
	                    <span th:text="${employeeForm.EMPLOYEE_ID}"></span>
	                    <input type="hidden" th:field="*{EMPLOYEE_ID}" />
	                    <input type="hidden" th:field="*{IsNewEntry}" />
                	</td>
				</tr>
			
				<tr>
					<td><label for="EMPLOYEE_NAME">氏名</label><label class="asterisk">*</label></td>
            		<td class="flex-align-center">
	            		<input type="text" id="EMPLOYEE_NAME" th:field="*{EMPLOYEE_NAME}" class="input-long" maxlength="100" size="30" />
	            		<span th:errors="*{EMPLOYEE_NAME}" class="error-inline"></span>
            		</td>
				</tr>
				
				<tr>	
		            <td><label for="DEPT_ID">所属</label></td>
					<td>
						<select class="select-dep" id="DEPT_ID" th:field="*{DEPT_ID}">
						<option th:each="dept : ${departments}" th:value="${dept.deptId}" th:text="${dept.deptName}"></option>
						</select>
					</td>
				</tr>
				
				<tr>
					<td><label for="GENDER_ID">性別</label></td>
					<td class="gender">
						<input type="radio" id="GENDER_ID" th:field="*{GENDER_ID}" value="1">男性 
						<input type="radio" id="GENDER_ID" th:field="*{GENDER_ID}" value="2">女性 
						<input type="radio" id="GENDER_ID" th:field="*{GENDER_ID}" value="3" checked>未確認 
					</td>
				</tr>
			
				<tr>
					<td><label for="TELEPHONE_NUMBER">電話番号</label></td>
					<td class="flex-align-center">
						<input type="text" th:field="*{TELEPHONE_NUMBER}" id="TELEPHONE_NUMBER" class="input-tel" maxlength="11">
						<span th:errors="*{TELEPHONE_NUMBER}" class="error-inline"></span>
					</td>
				</tr>
			
				<tr>
					<td><label for="ENTRY_DATE">入社年月日</label><label class="asterisk">*</label></td>
					<td class="flex-align-center">
						<input type="date" th:field="*{ENTRY_DATE}" id="ENTRY_DATE">
						<span th:errors="*{ENTRY_DATE}" class="error-inline"></span>
					</td>
				</tr>
				

				<tr>
					<td><label for="AGE">年齢</label></td>
					<td class="flex-align-center">
						<input type="text" th:field="*{AGE}" id="AGE" class="input-age" maxlength="2">
						<span th:errors="*{AGE}" class="error-inline"></span>
					</td>
				</tr>
			
				<tr>
					<td><label for="MAIL_ADDRESS">メールアドレス</label><label class="asterisk">*</label></td>
					<td  class="flex-align-center">
						<input type="text" th:field="*{MAIL_ADDRESS}" id="MAIL_ADDRESS" class="input-long" maxlength="100">
						<span th:errors="*{MAIL_ADDRESS}" class="error-inline"></span>
					</td>
				</tr>
			</table>
		</div>
		
		<div class="bot">
			<div class="bu-close">
				<input name="button" type="submit" value="閉じる" class="button">
			</div>
			
			<div th:if="${employeeForm.IsNewEntry}">
				<div class="bu-create">
					<input name="button" type="submit" value="登録" class="button">
				</div>
	    	</div>
	    
	   		<div th:unless="${employeeForm.IsNewEntry}">
		        <div class="bu-create">
		            <input name="button" type="submit" value="修正" class="button">
		        </div>
    		</div>
			
		</div>

	</form>
	
	<script src="/static/js/employeeForm.js" th:src="@{/js/employeeForm.js}">
	</script>

</body>

</html>