<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>勤怠情報登録更新</title>
<link rel="stylesheet" type="text/css" href="/css/style.css" />
<script src="/js/form.js"></script>
</head>
<body>
	<h1></h1>
	<form id="updateForm" th:object="${addForm}" >

		<div class="form-row">
			<table>
				<tr>
					<th>社員ID</th>
					<td>123456</td>
				</tr>
				<tr>
					<th>社員名</th>
					<td>更新太郎</td>
				</tr>
				<tr>
					<th>所属部門</th>
					<td>マーケティング部</td>
				</tr>
			</table>
		</div>
		<span th:if="${#fields.hasErrors('attendanceDate')}"
			th:errors="*{attendanceDate}" class="error-message"></span>
		<div class="form-row">

			<label>日付:</label> <input type="date" th:field="*{attendanceDate}">

		</div>
		<div class="form-row">

			<label>作業開始時間:</label> <input type="time" th:field="*{startTime}">

		</div>
		<div class="form-row">

			<label>作業終了時間:</label> <input type="time" th:field="*{endTime}">

		</div>
		<div class="form-row">

			<label>休憩時間:</label> <input type="text" th:field="*{restHours}">

		</div>
		<div class="form-row">

			<label>残業時間:</label> <input type="text" th:field="*{overtimeHours}">

		</div>
		<div class="form-row">

			<label>状態:</label> <select name="statusId" th:field="*{statusId}">
				<option value="9">選択してください</option>
				<option value="0">出勤</option>
				<option value="1">遅刻</option>
				<option value="2">早退</option>
				<option value="3">休み</option>
				<option value="4">その他</option>
			</select>

		</div>
		<div class="form-row">

			<label>申請事由:</label>
			<textarea rows="5" th:field="*{reason}"></textarea>

		</div>
		<div class="form-row">

			<label>作業内容:</label>
			<textarea rows="5" th:field="*{content}"></textarea>

		</div>
		<div class="form-row">

			<label>備考:</label>
			<textarea rows="5" th:field="*{remarks}"></textarea>

		</div>

		<div class="button-group">
			<button type="submit" class="button" th:if="${update}"
				onclick="submitForm('updateForm','/update','post')">更新</button>

			<button type="submit" class="button" th:if="${refresh}"
				onclick="submitForm('updateForm','/insert','post')">登録</button>
			<button class="button" onclick="history.back()">戻る</button>
			
		</div>




	</form>
</body>
</html>


